{% load static %}

<div id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class=" container TitleSection">
          <header class="page-head">
            <h1>About Us<small> // One</small></h1>
          </header>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris. aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
        <div class="row">
          <div class="col-xs-12 col-md-3 col-sm-6">
            <div class="about_wrap_one">
              <div class="hexagon"> <a href="#"> <span class="mask"></span> <img src="{% static 'img/1.jpg' %}" alt="filter" /> </a>
                <div class="portfolio-title">
                  <h4>John Doe<span>Art-Director</span></h4>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero.</p>
              <ul class="about_social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <div class="about_wrap_one">
              <div class="hexagon"> <a href="#"> <span class="mask"></span> <img src="{% static 'img/2.jpg' %}" alt="filter" /> </a>
                <div class="portfolio-title">
                  <h4>John Doe<span>Art-Director</span></h4>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero.</p>
              <ul class="about_social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <div class="about_wrap_one">
              <div class="hexagon"> <a href="#"> <span class="mask"></span> <img src="{% static 'img/3.jpg' %}" alt="filter" /> </a>
                <div class="portfolio-title">
                  <h4>John Doe<span>Art-Director</span></h4>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero.</p>
              <ul class="about_social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <div class="about_wrap_one">
              <div class="hexagon"> <a href="#"> <span class="mask"></span> <img src="{% static 'img/1.jpg' %}" alt="filter" /> </a>
                <div class="portfolio-title">
                  <h4>John Doe<span>Art-Director</span></h4>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero.</p>
              <ul class="about_social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class=" container TitleSection">
          <header class="page-head">
            <h1>About Us<small> // Two</small></h1>
          </header>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris. aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-12">
            <div class="about_wrap">
              <div class="holder"> <img src="{% static 'img/1.jpg' %}" alt="about"> </div>
              <div class="arrow"></div>
              <div class="about_data">
                <ul class="title">
                  <li>
                    <h2>John Doe</h2>
                  </li>
                  <li>
                    <h3>Art-Director</h3>
                  </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero.</p>
                <ul class="about_social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-12">
            <div class="about_wrap">
              <div class="holder"> <img src="{% static 'img/2.jpg' %}" alt="about"> </div>
              <div class="arrow"></div>
              <div class="about_data">
                <ul class="title">
                  <li>
                    <h2>John Doe</h2>
                  </li>
                  <li>
                    <h3>Art-Director</h3>
                  </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero.</p>
                <ul class="about_social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-12">
            <div class="about_wrap">
              <div class="holder"> <img src="{% static 'img/3.jpg' %}" alt="about"> </div>
              <div class="arrow"></div>
              <div class="about_data">
                <ul class="title">
                  <li>
                    <h2>John Doe</h2>
                  </li>
                  <li>
                    <h3>Art-Director</h3>
                  </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero.</p>
                <ul class="about_social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>