{% load static %}

<div class="element Logo_design copywriting" data-category="Logo_design">
  <div class="hexagon"> <a href="#"> <span class="mask"></span> <img src="{% static 'img/1.jpg' %}" alt="filter" /> </a>
    <div class="portfolio-title">
       <h4>СМЕШАННОЕ<span>Art-Director</span></h4>
    </div>
  </div>
</div>
<div class="element Logo_design copywriting" data-category="Branding">
  <div class="hexagon"> <a href="#"> <span class="mask"></span> <img src="{% static 'img/2.jpg' %}" alt="filter" /> </a>
    <div class="portfolio-title">
       <h4>ЕДА<span>Art-Director</span></h4>
    </div>
  </div>
</div>
<div class="element Logo_design copywriting" data-category="Logo_design">
  <div class="hexagon"> <a href="#"> <span class="mask"></span> <img src="{% static 'img/3.jpg' %}" alt="filter" /> </a>
    <div class="portfolio-title">
       <h4>ТАБАК<span>Art-Director</span></h4>
    </div>
  </div>
</div>