

    {% load static %}
    <!-- Fixed navbar -->
    {% include "navbar.html" %}
    <!-- End Fixed navbar -->

    <br><br>
    <!-- Portfolio -->
    {% include "portfolio.html" %}
    <!-- /Portfolio -->


{#    <!-- Services -->#}
{#    {% include "services.html" %}#}
{#    <!-- /Services -->#}



{#    <!-- About -->#}
{#    {% include "about_us.html" %}#}
{#    <!-- About -->#}

{#    <!-- Projects-->#}
{#    {% include "our_projects.html" %}#}
{#    <!-- projects -->#}

{#    <!--Contact -->#}
{#    {% include "contact_us.html" %}#}
{#    <!-- /contact -->#}

    <!-- Footer -->
    {% include "footer.html" %}
    <!-- /Footer -->
