{% load static %}

<div class="navbar navbar-default navbar-fixed-top" id="ha-header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand logo" href="index.html">Chat&Get</a> </div>
    <div class="navbar-collapse collapse ">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="collapse" >My Profile</a></li>
        <li><a href="#top">My Orders</a></li>
        <li><a href="#services ">Zakazat'</a></li>
        <li><a href="#portfolio ">Order Cloud</a></li>
        <li><a href="#about">Pick an Order</a></li>
        <li><a href="#projects">About</a></li>
        <li><a href="#contact">Exit</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>