{% load static %}

<div class="navbar navbar-default navbar-fixed-top" id="ha-header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand logo" href="index.html">Chat&Get</a> </div>
    <div class="navbar-collapse collapse ">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="collapse" >Мой профиль</a></li>
        <li><a href="#top">Мои заказы</a></li>
        <li><a href="#services ">Заказать</a></li>
        <li><a href="#portfolio ">Все заказы</a></li>
        <li><a href="#about">Выполнить заказ</a></li>
        <li><a href="#projects">О нас</a></li>
        <li><a href="#contact">Выход</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>