{% load static %}

<div id="projects" class="projects">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class=" container TitleSection">
          <header class="page-head">
            <h1>Awesome<small> // Projects</small></h1>
          </header>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris. aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
        <div class="row">
          <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="project_wrap">
              <ul class="cbp-ig-grid">
                <li> <a href="#"> <span class="cbp-ig-icon cole-townsend-chat"></span>
                  <h3 class="cbp-ig-title">project one</h3>
                  <span class="cbp-ig-category">Fashion</span> </a> </li>
                <li> <a href="#"> <span class="cbp-ig-icon designmodo-location"></span>
                  <h3 class="cbp-ig-title">project two</h3>
                  <span class="cbp-ig-category">Design</span> </a> </li>
                <li> <a href="#"> <span class="cbp-ig-icon designmodo-settings"></span>
                  <h3 class="cbp-ig-title">project three</h3>
                  <span class="cbp-ig-category">Lifestyle</span> </a> </li>
                <li> <a href="#"> <span class="cbp-ig-icon cesgra-globe"></span>
                  <h3 class="cbp-ig-title">project four</h3>
                  <span class="cbp-ig-category">copywriting</span> </a> </li>
                <li> <a href="#"> <span class="cbp-ig-icon dom-waters-speedo"></span>
                  <h3 class="cbp-ig-title">project five</h3>
                  <span class="cbp-ig-category">Gadgets</span> </a> </li>
                <li> <a href="#"> <span class="cbp-ig-icon joshua-barker-landscape"></span>
                  <h3 class="cbp-ig-title">project six</h3>
                  <span class="cbp-ig-category">Music</span> </a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>